<div class="container mt-5">
  <h4>
    Internal server error - refreshing the page will make the error disappear
  </h4>

  <ng-container *ngIf="error">
    <div class="mt-5 alert alert-danger">
      <h5>Error message:</h5>
      <p>{{ error.message }}</p>
      <p class="font-weight-bold">This error comes from the server - not angular</p>
      <p>what to do next?</p>
      <ol>
        <li>check the network tab in chrome dev tools</li>
        <li>reproduce the error in postman - if the same error occurs then its definately not angular</li>
      </ol>
    </div>

    <div class="mt-2 alert alert-danger">
      <h5>Error stack:</h5>
      <p>{{ error.details }}</p>
    </div>
  </ng-container>
</div>
